@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@700&display=swap");

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: 700;
  background-color: #f9f3ec;
  color: #4a4634;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

@keyframes marquee {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
